@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

header {
    height: 100vh;
    background-color: #EDFAFF;
}

header div {
    text-align: center;
    margin: auto;
    padding-top: 3em;
    width: 95vw;
}

header div h1 {
    color: #264653;
    font-family: 'Arvo', serif;
    font-size: 4em;
    letter-spacing: -1px;
}

header div p {
    color: #264653;
    margin: auto;
    padding: 0.6em 0 1.6em 0;
    width: 32em;
    font-family: 'Public Sans', sans-serif;
    font-size: 1.6em;
    letter-spacing: -1px;
    line-height: 1.5;
}

header div a {
    border-radius: 20em;
    background-color: white;
    color: #264653;
    padding: 0.8em 1.2em;
    margin-top: 2em;
    font-family: 'Public Sans', sans-serif;
    font-size: 1.6em;
    letter-spacing: -1px;
    line-height: 1.5;
}

main{
}

main div:last-child {
    padding-bottom: 6em;
}

main div {
    padding-top: 6em;
    margin: auto;
    width: 50vw;
}

main .h3-met-tekst {
    padding-top: 2em;
}

main div h1 {
    color: #264653;
    font-family: 'Arvo', serif;
    font-size: 3em;
    letter-spacing: -1px;
}

main div h2 {
    color: #264653;
    font-family: 'Arvo', serif;
    font-weight: 400;
    font-size: 2em;
    letter-spacing: -1px;
    padding: 2em 0 0.5em 0;
}

main div h3 {
    color: #264653;
    font-family: 'Arvo', serif;
    font-weight: 400;
    font-size: 1.6em;
    letter-spacing: -1px;
    padding: 1em 0 0.5em 0;
}

main div p {
    color: #264653;
    padding-top: 0.4em;
    font-family: 'Public Sans', sans-serif;
    font-size: 1.4em;
    letter-spacing: -1px;
    line-height: 1.5;
}
main div ol li{
    font-family: 'Public Sans', sans-serif;
    font-size: 1.6em;
    color: #264653;
    letter-spacing: -1px;
    line-height: 1.5;
    font-weight: bold;
}

main div ul li{
    font-family: 'Public Sans', sans-serif;
    font-size: 1.4em;
    color: #264653;
    letter-spacing: -1px;
    line-height: 1.5;
}
main div ol p{
    font-family: 'Public Sans', sans-serif;
    font-size: 1.6em;
    color: #264653;
    letter-spacing: -1px;
    line-height: 1.5;
}

main div img {
    width: 50vw;
    padding-top: 2em;
}

footer {
    background-color: #264653;
    padding: 6em 0;
}

footer .container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 4em;
    margin: auto;
    width: 50vw;
}

footer .container h1 {
    color: #ffffff;
    font-family: 'Arvo', serif;
    font-size: 3em;
    letter-spacing: -1px;
}

footer .container .bronnen section {
    padding-bottom: 2em;
}

footer .container .bronnen section p {
    color: #ffffff;
    font-family: 'Arvo', serif;
    font-size: 2em;
    letter-spacing: -1px;
}

footer .container .bronnen section .bronnen-links {
    display: grid;
}

footer .container .bronnen section .bronnen-links a {
    text-decoration: none;
    color: #ffffffc5;
    padding-top: 0.4em;
    font-family: 'Public Sans', sans-serif;
    font-size: 1.6em;
    letter-spacing: -1px;
    line-height: 1.5;
}

.ocean { 
    height: 5%;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    background: #015871;
  }
  
  .wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
    fill: black;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }
  
  .wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  
  @keyframes swell {
    0%, 100% {
      transform: translate3d(0,-25px,0);
    }
    50% {
      transform: translate3d(0,5px,0);
    }
  }
  
  .ocean img {
      width: 300px;
      position: absolute;
      top: -425px;
      transform: translateX(-50%) rotate(0deg);
      animation: boat 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
      animation-delay: -1s;
  }
  
  @keyframes boat {
      0% {
          top: -425px;
          transform: translateX(-50%) rotate(0deg);
      }
      25% {
          transform: translateX(-50%) rotate(12deg);
      }
      50% {
          top: -280px;
          transform:  translateX(-50%) rotate(0deg);
      }
      75% {
          transform: translateX(-50%) rotate(-12deg);
      }
      100% {
          top: -425px;
          transform: translateX(-50%) rotate(0deg);
      }
  }